{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ quest.title }} - Организаторы{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}
    <br>
    {% include 'coordination/quests/members/_nav.html' %}

    <div class="row row-margin">{% crispy form %}</div>

    <div class="row row-margin">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="list-group">
                {% for org in organizers %}
                    <li class="list-group-item text-base clearfix{% if org == quest.creator %} active{% endif %}">
                        <span class="fa fa-user-secret fa-lg"></span> {{ org }}
                        {% if org != quest.creator and user != org %}
                        <button data-href="{% url 'coordination:organizer_delete' quest.id org.id %}" data-toggle="modal"
                                data-target="#confirm" class="btn btn-danger pull-right">
                            <span class="fa fa-trash fa-lg"></span> Удалить
                        </button>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if agent %}
                <h3>Агенты</h3>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Логин</th>
                                <th>Пароль</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ agent.username }}</td>
                                <td>{{ agent.last_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}