{% load coordination_extras %}

<div class="list-group">
    {% for mission in missions %}
        <a href="{% url 'coordination:mission_detail' mission.id %}"
           class="list-group-item text-base text-left">
            {% if user|is_organizer:quest or user.is_superuser or user|is_agent:quest %}
                {{ mission }}
            {% else %}
                {{ mission.short_name }}
            {% endif %}
            {% if quest.nonlinear or line.parent and not mission.is_finish and not mission.is_start %}
                <span class="text-medium badge"><span class="glyphicon glyphicon-piggy-bank"></span> {{ mission.points }}</span>
            {% endif %}
        </a>
    {% endfor %}
</div>