{% extends 'base.html' %}
{% load coordination_extras %}
{% load crispy_forms_tags %}

{% block title %}{{ quest.title }}. {{ mission.short_name }}{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
        <h1><a href="{% url 'coordination:quest_detail' quest.id %}">{{ quest.title }}</a>.
            {% if user|is_organizer:quest or user.is_superuser %}
                {{ mission }}
            {% else %}
                {{ mission.short_name }}
            {% endif %}
        </h1>
    </div>

    {% if user|is_organizer:quest or user.is_superuser %}
        <p class="text-right">
                <a href="{% url 'coordination:mission_edit' mission.id %}" class="btn btn-primary">
                    <span class="fa fa-edit fa-lg"></span> Редактировать
                </a>

            {% if not mission.is_start and not mission.is_finish %}
                    <button data-href="{% url 'coordination:mission_delete' mission.id %}" data-toggle="modal"
                            data-target="#confirm" class="btn btn-danger">
                        <span class="fa fa-trash fa-lg"></span> Удалить
                    </button>
            {% endif %}
    {% endif %}

    {% if mission.text %}
        <br>
        <div class="well well-sm text-base">
            {{ mission.text|linebreaks|urlize }}
        </div>
    {% endif %}

    {% if mission.picture %}
        <a href="{{ mission.picture.url }}" target="_blank"><img src="{{ mission.picture.url }}" class="img-responsive"></a>
    {% endif %}

    {% if not mission.is_finish %}
        <br>
        <p class="label label-info text-base"><span class="fa fa-key"></span> {{ mission.key|default:"Не указан" }}</p>
    {% endif %}

    {% if user|is_organizer:quest or user.is_superuser%}
        {% if hint_form %}
            <h3>Подсказки</h3>
            {% include 'coordination/hints/_list.html' %}
            <h4>Добавить подсказку</h4>
            <form class="col-md-6 col-md-offset-3" action="" method="post">
                {% crispy hint_form %}
                <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Готово</button>
            </form>
        {% endif %}
    {% elif hints %}
        <h3>Подсказки</h3>
        {% include 'coordination/hints/_list.html' %}
    {% endif %}
{% endblock content %}