{% extends 'base.html' %}
{% load coordination_extras %}
{% load crispy_forms_tags %}

{% block title %}{% if quest.parent %}{{ quest.parent.title }}.{% endif %} {{ quest.title }}. {{ mission.short_name }}{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
        <h1>{% if quest.parent %}{{ quest.parent.title }}.{% endif %} {{ quest.title }}.
            {% if user|is_organizer:quest or user.is_superuser or user|is_agent:quest %}
                {{ mission }}
            {% else %}
                {{ mission.short_name }}
            {% endif %}
        </h1>
    </div>

    {% if not quest.parent %}
        {% include 'coordination/quests/_nav.html' %}
        <br>
    {% else %}
        <p class="text-center">
            <a href="{% url 'coordination:line_detail' quest.parent_id quest.id %}" class="btn btn-default">
                Вернуться к заданиям линии</a>
        </p>
    {% endif %}

    {% if user|is_organizer:quest or user.is_superuser %}
        <p class="text-right">
            <a href="{% url 'coordination:mission_edit' mission.id %}" class="btn btn-primary">
                <span class="fa fa-edit fa-lg"></span> Редактировать
            </a>

            {% if not quest.started %}
                {% if quest.line_nonlinear and not mission.is_start %}
                    <button data-href="{% url 'coordination:mission_delete' mission.id %}" data-toggle="modal"
                            data-target="#confirm" class="btn btn-danger">
                        <span class="fa fa-trash fa-lg"></span> Удалить
                    </button>
                {% endif %}
                {% if not quest.line_nonlinear and not mission.is_start and not mission.is_finish %}
                    <button data-href="{% url 'coordination:mission_delete' mission.id %}" data-toggle="modal"
                            data-target="#confirm" class="btn btn-danger">
                        <span class="fa fa-trash fa-lg"></span> Удалить
                    </button>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}

    <div class="text-base">{{ mission.text|safe }}</div>

    {% include 'coordination/quests/coordination/_picture.html' %}

    {% if quest.linear and not mission.is_finish or quest.line_nonlinear and not mission.is_start or quest.nonlinear and not mission.is_finish and not mission.is_start %}
        <br>
        <p class="label label-info text-medium"><span class="fa fa-key"></span> {{ mission.key|default:"Не указан" }}</p>
    {% endif %}

    {% if quest.nonlinear or quest.parent %}
        {% if not mission.is_finish and not mission.is_start %}
            <p class="label label-default text-medium"><span class="glyphicon glyphicon-piggy-bank"></span> {{ mission.points }}</p>
        {% endif %}
    {% endif %}

    {% if user|is_organizer:quest or user.is_superuser%}
        {% if hint_form %}
            <h3>Подсказки</h3>
            <div id="hints" class="row">
                {% include 'coordination/hints/_list.html' %}
            </div>
            <h4>Добавить подсказку</h4>
            <form class="col-md-6 col-md-offset-3" action="" method="post">
                {% crispy hint_form %}
                <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Готово</button>
            </form>
        {% endif %}
    {% elif hints %}
        <h3>Подсказки</h3>
        <p class="text-center">Нажмите на заголовок подсказки, чтобы отобразить ее.</p>
        <div id="hints" class="row">
            {% include 'coordination/hints/_collapsing_list.html' %}
        </div>
    {% endif %}
{% endblock content %}