django==1.10.5
psycopg2==2.6.2
dj-database-url==0.4.2
whitenoise==3.3.0
django-crispy-forms==1.6.1
Pillow==4.0.0
awesome-slugify==1.6.5
gunicorn==19.6.0
django-ckeditor==5.2.1
opbeat==3.5.2
django-sendfile==0.3.11
django-htmlmin==0.10.0