{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ quest.title }} - Координация{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    <div class="row row-margin">
        <div class="text-base col-xs-12 col-sm-4 col-md-3" id="countup"></div>
        <div class="text-base col-sm-8 col-md-9" id="countdown"></div>
    </div>

    <div id="mission_finish">
        {% include 'coordination/quests/coordination/_mission_finish.html' %}
    </div>

    <div>
        <p class="lead text-center">Всего набрано <span class="badge text-medium"><span class="glyphicon glyphicon-piggy-bank"></span> {{ points }}</span></p>
    </div>

    <div id="messages">
        {% include 'coordination/messages/_list.html' %}
    </div>

    {% for line in lines %}
        <div class="row" style="margin-right:0;margin-left:0">
            {% if not forloop.first %}
                <hr/>
            {% endif %}

            <h2 id="l{{ line.id }}">{{ line.title }}</h2>

            {% if line.mission %}
                <h3 id="mission_name{{ line.id }}">{{ line.mission.short_name }}</h3>

                <div id="text{{ line.id }}" class="text-base">{{ line.mission.text|safe }}</div>

                <div id="picture{{ line.id }}">{% include 'coordination/quests/coordination/_picture.html' with mission=line.mission %}</div>

                {% if not line.mission.is_finish %}
                    <div id="hints{{ line.id }}">
                        {% include 'coordination/hints/_ml_list.html' %}
                    </div>

                    <div id="form{{ line.id }}">
                        {% if form %}
                            <div class="row-margin">
                                <form action="" method="post" class="form-inline">
                                    {% crispy form %}
                                    <input type="hidden" name="mission_id" value="{{ line.mission.id }}" />
                                </form>
                            </div>
                            <div id="wrong_keys{{ line.id }}">
                                {% include 'coordination/quests/coordination/_wrong_keys.html' with wrong_keys=line.wrong_keys %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            <div id="completed_missions{{ line.id }}">
                {% if line.completed_missions %}
                    <div class="row-margin">
                        {% include 'coordination/quests/coordination/_ml_completed_missions.html' %}
                    </div>
                {% endif %}
            </div>

            <div id="uncompleted_missions{{ line.id }}">
                {% if line.uncompleted_missions %}
                    <div class="row-margin">
                        {% include 'coordination/quests/coordination/_ml_uncompleted_missions.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% empty %}
        {% if quest.started %}
            <p class="lead">В игре нет заданий!</p>
        {% endif %}
        {% if quest.not_started and mission_start %}
            <div class="text-base">{{ mission_start.text|safe }}</div>
            <div>{% include 'coordination/quests/coordination/_picture.html' with mission=mission_start %}</div>
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "assets/js/jquery.plugin.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.countdown.min.js" %}"></script>
    <script type="text/javascript">
        var url = "{% url 'coordination:quest_coordination_ajax' quest.id %}";
        $(function () {
            {% if rest_quest %}
                start_game_over_countdown({{ rest_quest }});
            {% endif %}

            {% now "U" as t %}
            var time = new Date({{ t }});
            start_countup(time)
        });

        setInterval(function () {
            update_coordination_ml()
        }, 420000);
    </script>
    <script type="text/javascript" src="{% static "assets/js/coordination.js" %}"></script>
{% endblock scripts %}