<table data-toggle="table" data-detail-view="true" data-detail-formatter="playerFormatter">
    <thead>
        <tr>
            <th>Место</th>
            <th>Игрок</th>
            <th>Взято</th>
            <th>Баллы</th>
            <th>Последний ключ</th>
            <th class="hidden">Задания</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players|dictsort:'last_time'|dictsortreversed:'points' %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ player.first_name }}</td>
                <td>{{ player.num_missions }}</td>
                <td>{{ player.points }}</td>
                <td>
                    {% if player.num_missions > 0 %}
                        {{ player.last_time|date:"H:i:s" }}
                    {% else %}
                        Отсутствует
                    {% endif %}
                </td>
                <td class="hidden">{{ player.missions }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>