{% extends 'base_table.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-table-fixed-columns.css" %}">
{% endblock styles %}

{% block title %}{{ quest.title }} - Табличка для всех заданий{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}
    <br>
    {% include 'coordination/quests/tables/_nav.html' %}

    <br>
    <table data-toggle="table" data-fixed-columns="true" data-fixed-number="1">
        <thead>
            <tr>
                <th>Игрок</th>
                {% for mission in missions %}

                            <th class="{% ifchanged mission.order_number %}{% cycle 'bg-success' 'bg-warning' as color%}{% else %}{{ color }}{% endifchanged %}">
                                {% if quest.line_nonlinear %}
                                    {{ mission.medium_name }}
                                {% else %}
                                    {{ mission.table_name }}
                                {% endif %}
                            </th>
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.first_name }}</td>
                {% for mission in missions %}
                    <td>
                        {% for key_log in key_logs %}
                            {% if key_log.player == player and key_log.mission == mission %}
                                {{ key_log.fix_time|date:"H:i:s" }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "assets/js/bootstrap-table-fixed-columns.js" %}"></script>
{% endblock scripts %}