{% load coordination_extras %}

<div class="list-group">
    {% for quest in quests %}
        {% if quest.is_published or user|is_organizer:quest or user.is_superuser %}
            <a href="{% url 'coordination:quest_detail' quest.id %}"
               class="list-group-item {% if not quest.is_published %}list-group-item-warning{% elif not quest.ended %}list-group-item-info{% endif %}">
                <div class="row">
                    <div class="list-group-item-heading">
                        <div class="col-sm-3">
                            <h4 class="pull-left-sm orgs">
                                    <span class="label label-primary">{{ quest.organizer_name }}</span>
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                             <h4>
                                 {% if quest.linear %}<span class="fa fa-long-arrow-right fa-lg"></span>{% endif %}
                                 {% if quest.line_nonlinear %}<span class="fa fa-sitemap"></span>{% endif %}
                                 {% if quest.nonlinear %}<span class="fa fa-arrows"></span>{% endif %}
                                 {% if quest.multilinear %}<span class="fa fa-tasks"></span>{% endif %}
                                 {{ quest.title }}
                             </h4>
                        </div>
                        <div class="col-sm-5">
                            <h4>
                                <span class="pull-right-sm label {{ quest.ended|yesno:'label-default, label-info' }}">
                                    <span class="fa fa-clock-o fa-lg"></span>
                                    {{ quest.start|date:"d E Y в H:i"|default:"Скоро" }}
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="list-group-item-text">
                    <div class="text-base">
                        {{ quest.description|default:"Подробности позже"|striptags|linebreaks|truncatewords_html:13 }}
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>