{% load coordination_extras %}

<div class="list-group">
    {% for quest in quests %}
        {% if quest.is_published or user|is_organizer:quest or user.is_superuser %}
            <a href="{% url 'coordination:quest_detail' quest.id %}"
               class="list-group-item {% if not quest.ended %}list-group-item-info{% endif %}">
                <div class="row">
                    <div class="list-group-item-heading">
                        <div class="col-sm-3">
                            {% if not quest.is_published %}
                                <h4>
                                    <span class="pull-left-sm label label-warning">Не опубликован</span>
                                </h4>
                            {% else  %}
                                <h4 class="pull-left-sm orgs">
                                    {% for org in quest.organizers %}
                                        <span class="label label-primary">{{ org }}</span>
                                    {% endfor %}
                                </h4>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                             <h4>
                                 {% if quest.line_nonlinear %}<span class="fa fa-exchange"></span>{% endif %}
                                 {% if quest.nonlinear %}<span class="fa fa-arrows"></span>{% endif %}
                                 {{ quest.title }}
                             </h4>
                        </div>
                        <div class="col-sm-5">
                            <h4>
                                <span class="pull-right-sm label {{ quest.ended|yesno:'label-default, label-info' }}">
                                    <span class="fa fa-clock-o fa-lg"></span>
                                    {{ quest.start|date:"d E Y в H:i"|default:"Скоро" }}
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="list-group-item-text">
                    <div class="text-base">
                        {{ quest.description|default:"Подробности позже"|striptags|linebreaks|truncatewords_html:13 }}
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>