{% load main_extras %}
{% load coordination_extras %}

<ul class="nav nav-pills">
    {% menu_item 'Об игре' 'coordination:quest_detail' quest.id %}

    {% if quest.ended or user|is_organizer:quest or user.is_superuser %}
        {% menu_item 'Задания' 'coordination:quest_missions' quest.id %}
    {% endif %}

    {% if quest.ended %}
        {% menu_item 'Итоги' 'coordination:quest_results' quest.id %}
    {% endif %}

    {% if user|is_player:quest %}
       {% menu_item 'Координация' 'coordination:quest_coordination' quest.id %}
    {% endif %}

    {% if user|is_organizer:quest or user.is_superuser %}
       {% menu_item 'Участники' 'coordination:quest_members' quest.id contains=True %}
       {% menu_item 'Управление' 'coordination:quest_control' quest.id %}
       {% menu_item 'Таблички' 'coordination:quest_tables' quest.id contains=True %}
       {% menu_item 'История ключей' 'coordination:quest_keylog' quest.id %}
       {% menu_item 'Сообщения' 'coordination:quest_messages' quest.id %}
    {% endif %}
</ul>