{% extends 'base.html' %}
{% load main_extras %}

{% block content %}
    <div class="page-header">
        <h1>{% block title %}Квесты{% endblock %}</h1>
    </div>

    <p class=" text-center">
        {% if user|in_group:'organizers' %}
            <a href="{% url 'coordination:quest_new' %}" class="btn btn-success">
                <span class="fa fa-plus fa-lg"></span> Создать квест
            </a>
        {% else %}
            <a href="{% url 'auth_login' %}?next={{request.path}}" class="btn btn-warning btn-responsive">
                <span class="fa fa-info"></span> Войдите в систему как организатор, чтобы создать квест!
            </a>
        {% endif %}
        {% if user|in_group:'organizers_features' %}
            <a href="{% url 'coordination:quest_new_lnl' %}" class="btn btn-success">
                <span class="fa fa-exchange fa-lg"></span> Создать линейно-нелинейный квест
            </a>
            <a href="{% url 'coordination:quest_new_nl' %}" class="btn btn-success disabled">
                <span class="fa fa-arrows fa-lg"></span> Создать нелинейный квест
            </a>
        {% endif %}
    </p>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% include 'coordination/quests/_list.html' %}
            {% include 'coordination/_pagination.html' with p=quests %}
        </div>
    </div>
{% endblock content %}