{% extends 'base.html' %}
{% load static %}

{% block title %}{{ quest.title }} - Управление{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    {% if quest.not_started %}
        <p class="row-margin text-center">
            <button data-href="{% url 'coordination:clear_quest' quest.id %}" data-toggle="modal"
                    data-target="#confirm" class="btn btn-danger">
                <span class="fa fa-trash"></span> Очистить результаты квеста
            </button>
        </p>
    {% endif %}

    {% if quest.is_published %}
        {% if quest.not_started or quest.started %}
            <p class="row-margin text-center">
                {% url 'coordination:begin_quest' quest.id as begin_url %}
                {% if quest.not_started %}
                     <button data-href="{{ begin_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-success">
                         <span class="fa fa-play"></span> Начать квест
                     </button>
                {% elif quest.started %}
                    <button data-href="{{ begin_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-warning">
                        <span class="fa fa-pause"></span> Приостановить квест
                    </button>
                {% endif %}
            </p>
        {% endif %}

        {% if quest.started or quest.ended %}
            <p class="row-margin text-center">
                {% url 'coordination:end_quest' quest.id as end_url %}
                {% if quest.started %}
                     <button data-href="{{ end_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-danger">
                         <span class="fa fa-stop"></span> Завершить квест
                     </button>
                {% elif quest.ended %}
                    <button data-href="{{ end_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-warning">
                        <span class="fa fa-play"></span> Возобновить квест
                    </button>
                {% endif %}
            </p>
        {% endif %}
    {% else %}
        <p class="lead text-center">Опубликуйте квест для управления его состоянием.</p>
    {% endif %}
{% endblock content %}