{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{ quest.title }} - Координация{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    <h2>{{ mission.short_name }}</h2>

    {% for message in messages %}
        <p class="alert alert-info">{{ message.text|linebreaksbr|urlize }}</p>
    {% endfor %}

    <div class="text-base">{{ mission.text|safe }}</div>

    {% if mission.picture %}
        <a href="{{ mission.picture.url }}" target="_blank"><img src="{{ mission.picture.url }}" class="img-responsive"></a>
    {% endif %}

    <div class="text-base" id="countdown"></div>

    {% if hints %}
        {% include 'coordination/hints/_list.html' %}
    {% endif %}

    {% if form %}
        <div class="row-margin">{% crispy form %}</div>
        {% if wrong_keys %}
            <p><span class="text-danger">Не верно указан ключ: </span>{{ wrong_keys }}</p>
        {% endif %}
    {% endif %}

    {% if completed_missions %}
        <div class="row-margin">
            <div class="col-sm-4 list-group">
                <p class="lead">Пройденные задания</p>
                {% for mission in completed_missions %}
                    <a href="{% url 'coordination:mission_detail' mission.id %}"
                       class="list-group-item list-group-item-success">{{ mission }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "assets/js/jquery.plugin.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.countdown.min.js" %}"></script>
    <script type="text/javascript">
        var time = {{ delay }}
        $(function () {
            $('#countdown').countdown({until: +time, compact: true,
                layout: 'До следующей подсказки осталось: <b>{mnn}{sep}{snn}</b>. Если страница не обновилась автоматически, обновите ее вручную!',
                onExpiry: refresh
            });
        });

        function refresh() {
            sleep(1000);
            window.location.reload(true);
        }

        function sleep(duration) {
         var d = new Date().getTime() + duration;
          while(new Date().getTime() <= d ) {
            //Do nothing
          }
        }
    </script>
{% endblock %}