{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{ quest.title }} - Координация{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    <h2 id="mission_name">{{ mission.short_name }}</h2>

    <div id="messages">
        {% include 'coordination/messages/_list.html' %}
    </div>

    <div id="text" class="text-base">{{ mission.text|safe }}</div>

    <div id="picture" class="row-margin">{% include 'coordination/quests/_picture.html' %}</div>

    <div class="text-base" id="countdown"></div>

    <div id="hints" class="row">
        {% include 'coordination/hints/_list.html' %}
    </div>

    <div id="form">
        {% if form %}
            <div class="row-margin">{% crispy form %}</div>
            <div id="wrong_keys">{% include 'coordination/quests/_wrong_keys.html' %}</div>
        {% endif %}
    </div>

    <div id="completed_missions" class="row-margin">
        {% include 'coordination/quests/_completed_missions.html' %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "assets/js/jquery.plugin.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.countdown.min.js" %}"></script>
    <script type="text/javascript">
        var url = "{% url 'coordination:quest_coordination_ajax' quest.id %}";
        $(function () {
            start_countdown({{ delay }});
        });

        setInterval(function () {
            update_coordination()
        }, 103000);
    </script>
    <script type="text/javascript" src="{% static "assets/js/coordination.js" %}"></script>
{% endblock %}