{% extends 'base.html' %}
{% load main_extras %}
{% load coordination_extras %}


{% block title %}{{ quest.title|title }} - Об игре{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
            <h1>{{ quest.title|title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    {% if user|is_organizer:quest or user.is_superuser %}
        <div class="row">
            <div class="col-sm-5 col-md-4 pull-right text-right">
                <div class="col-xs-6">
                    <a href="{% url 'coordination:quest_edit' quest.id %}" class="btn btn-primary">
                        <span class="fa fa-edit fa-lg"></span> Редактировать
                    </a>
                </div>

                <div class="col-xs-6">
                    <button data-href="{% url 'coordination:quest_delete' quest.id %}" data-toggle="modal"
                            data-target="#confirm" class="btn btn-danger">
                        <span class="fa fa-trash fa-lg"></span> Удалить
                    </button>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="center-block text-center">
                {% url 'coordination:quest_publish' quest.id as publish_url %}
                {% if quest.is_published %}
                     <button data-href="{{ publish_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-warning">
                         <span class="fa fa-eye-slash fa-lg"></span> Снять квест с публикации
                     </button>
                {% else %}
                    <button data-href="{{ publish_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-success">
                        <span class="fa fa-eye fa-lg"></span> Опубликовать квест
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <h3>
        <span class="label {{ quest.ended|yesno:'label-default, label-info' }}">
            <span class="fa fa-clock-o fa-lg"></span>
            {{ quest.start|date:"d E Y в H:i"|default:"Скоро" }}
        </span>
    </h3>

    <h3>Организатор: <span class="label label-primary">{{ quest.organizer|nice_name }}</span></h3>

    <div class="well text-base">
        {{ quest.description|default:"Подробности позже."|linebreaks }}
    </div>

    {% if user|is_organizer:quest or user.is_superuser %}
        <h3>Задания</h3>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <a href="{% url 'coordination:mission_new' quest.id %}" class="btn btn-success">
                    <span class="fa fa-plus fa-lg"></span> Добавить задание
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                {% include 'coordination/missions/_list.html' %}
            </div>
        </div>
    {% elif quest.ended and missions %}
        <h3>Задания</h3>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                {% include 'coordination/missions/_list.html' %}
            </div>
        </div>
    {% endif %}
{% endblock content %}