{% extends 'base.html' %}
{% load main_extras %}
{% load coordination_extras %}


{% block title %}{{ quest.title|title }} - Об игре{% endblock %}

{% block content %}
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-danger btn-ok">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
            <h1>{{ quest.title|title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    {% if user|is_organizer:quest or user.is_superuser %}
        <div class="row">
            <div class="col-sm-5 col-md-4 pull-right text-right">
                <div class="col-xs-6">
                    <a href="{% url 'coordination:quest_edit' quest.id %}" class="btn btn-primary">
                        <span class="fa fa-edit fa-lg"></span> Редактировать
                    </a>
                </div>

                <div class="col-xs-6">
                    <button data-href="{% url 'coordination:quest_delete' quest.id %}" data-toggle="modal"
                            data-target="#confirm" class="btn btn-danger">
                        <span class="fa fa-trash fa-lg"></span> Удалить
                    </button>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="center-block text-center">
                {% url 'coordination:quest_publish' quest.id as publish_url %}
                {% if quest.is_published %}
                     <button data-href="{{ publish_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-danger">
                         <span class="fa fa-eye-slash fa-lg"></span> Снять квест с публикации
                     </button>
                {% else %}
                    <button data-href="{{ publish_url }}" data-toggle="modal" data-target="#confirm" class="btn btn-success">
                        <span class="fa fa-eye fa-lg"></span> Опубликовать квест
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <h3>
        <span class="label {{ quest.ended|yesno:'label-default, label-info' }}">
            <span class="fa fa-clock-o fa-lg"></span>
            {{ quest.start|date:"d E Y в H:i"|default:"Скоро" }}
        </span>
    </h3>

    <h3>Организатор: <span class="label label-primary">{{ quest.organizer|nice_name }}</span></h3>

    <div class="well">
        {{ quest.description|default:"Подробности позже."|linebreaks }}
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('#confirm').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
{% endblock %}