{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-datetimepicker.min.css" %}">
{% endblock styles %}

{% block title %}
    {% if form.instance.parent and form.instance.parent.multilinear %}
        {{ form.instance.parent.title }}. {{ form.instance.pk|yesno:'Редактирование линии, Новая линия' }}
    {% else %}
        {{ form.instance.pk|yesno:'Редактирование квеста, Новый квест' }}
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="page-header">
        {% if form.instance.parent and form.instance.parent.multilinear %}
            <h1>{{ form.instance.parent.title }}. {{ form.instance.pk|yesno:'Редактирование линии, Новая линия' }}</h1>
        {% else %}
            <h1>{{ form.instance.pk|yesno:'Редактирование квеста, Новый квест' }}</h1>
        {% endif %}
    </div>

    <form class="col-md-6 col-md-offset-3" action="" method="post">
        {% crispy form %}
        <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Готово</button>

        <a href="
        {% if form.instance.pk %}
            {% if form.instance.parent and form.instance.parent.multilinear %}
                {% url 'coordination:line_detail' form.instance.parent.id form.instance.pk %}
            {% else %}
                {% url 'coordination:quest_detail' form.instance.pk %}
            {% endif %}
        {% else %}
            {% if form.instance.parent and form.instance.parent.multilinear %}
                {% url 'coordination:quest_lines' form.instance.parent.id %}
            {% else %}
                {% url 'coordination:quests' %}
            {% endif %}
        {% endif %}
        " class="btn btn-default"><span class="fa fa-close"></span> Отмена</a>
    </form>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "assets/js/moment-with-locales.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/quest_form.js" %}"></script>
{% endblock scripts %}