{% extends 'base.html' %}

{% block title %}{{ quest.title }} - История ключей{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}

    <br>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Игрок</th>
                    <th>Задание</th>
                    <th>Время ключа</th>
                    <th>Ключ</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
            {% for keylog in keylogs %}
                <tr>
                    <td>{{ keylog.player.first_name }}</td>
                    <td>{{ keylog.mission }}</td>
                    <td>{{ keylog.fix_time|date:"d E Y H:i:s" }}</td>
                    <td>
                        <span class="fa {% if keylog.is_right %}fa-check-circle text-success{% else %}fa-minus-circle text-danger{% endif %}"></span>
                        {{ keylog.key }}
                    </td>
                    <td>
                        <button data-href="{% url 'coordination:keylog_delete' quest.id keylog.id %}" data-toggle="modal"
                                data-target="#confirm" class="btn btn-danger">
                            <span class="fa fa-trash"></span> Удалить
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'coordination/_pagination.html' with p=keylogs %}
{% endblock content %}