{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ quest.title }} - Сообщения{% endblock %}

{% block content %}
    {% include 'coordination/_confirm_dialog.html' %}

    <div class="page-header">
        <h1>{{ quest.title }}</h1>
    </div>

    {% include 'coordination/quests/_nav.html' %}
    <br>
    {% include 'coordination/messages/_list.html' %}

    <h4>Добавить сообщение</h4>
    <form class="col-md-6 col-md-offset-3" action="" method="post">
        {% crispy form %}
        <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Готово</button>
    </form>
{% endblock content %}