<div class="list-group">
    {% for news in news_list %}
        <a href="{% url 'news_detail' news.id %}"
           class="list-group-item">
            <div class="row">
                <div class="list-group-item-heading">
                    <div class="col-xs-12 col-sm-8">
                         <h4>
                             {{ news.title }}
                         </h4>
                    </div>
                    <div class="col-sm-4">
                        <h4>
                            <span class="pull-right-sm label label-default">
                                <span class="fa fa-clock-o fa-lg"></span>
                                {{ news.published_date|date:"d E Y в H:i" }}
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
            <p class="list-group-item-text text-base">
                {{ news.text|linebreaksbr|truncatechars:100 }}
            </p>
        </a>
    {% endfor %}
</div>