{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>{% block title %}Новости{% endblock %}</h1>
    </div>

    <div class="row">
        {% if news_list %}
            <div class="col-md-10 col-md-offset-1">
                {% include 'news/_list.html' %}
                {% include 'coordination/_pagination.html' with p=news_list %}
            </div>
        {% else %}
            <p class="lead text-center">Пока нет ни одной новости.</p>
        {% endif %}
    </div>
{% endblock content %}