{% load staticfiles %}
{% load main_extras %}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="inline-block" href="{% url 'home' %}">
                <img class="logo" src="{% static "assets/images/favicon-96x96.png" %}">
                <div class="brand">{{ PROJECT_NAME }}</div>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% menu_item 'Квесты' 'coordination:quests' %}
                {% menu_item 'Новости' 'news' contains=True %}
                {% menu_item 'Контакты' 'contacts' contains=True %}
                {% menu_item 'Помощь' 'help' contains=True %}
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}" target="_blank">Админка</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% url 'auth_login' as url_login %}
                {% if user.is_authenticated %}
                    {% if user|in_group:'organizers' %}
                        <li><a href="{% url 'my_profile' %}">
                            <span class="fa fa-user-secret fa-lg"></span> {{ user|nice_name }}
                        </a></li>
                    {% elif user.is_superuser %}
                        <li class="navbar-text"><span class="fa fa-hand-spock-o fa-lg"></span> {{ user|nice_name }}</li>
                    {% else %}
                       <li class="navbar-text"><span class="fa fa-user fa-lg"></span> {{ user|nice_name }}</li>
                    {% endif %}
                    <li><p class="navbar-btn"><a href="{% url 'auth_logout' %}" class="btn btn-danger">
                        <span class="fa fa-sign-out fa-lg"></span> Выход</a></p></li>
                {% elif request.path != url_login %}
                    <li><p class="navbar-btn"><a href="{% url 'auth_login' %}?next={{ request.path }}" class="btn btn-default">
                        <span class="fa fa-sign-in fa-lg"></span> Вход</a></p></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>