{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    {% block metas %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "assets/images/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "assets/images/apple-touch-icon-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "assets/images/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/images/apple-touch-icon-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "assets/images/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "assets/images/apple-touch-icon-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "assets/images/apple-touch-icon-144x144.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "assets/images/apple-touch-icon-152x152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/images/apple-touch-icon-180x180.png" %}">
        <meta name="apple-mobile-web-app-title" content="{{ PROJECT_NAME }}">

        <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicon-16x16.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "assets/images/favicon-96x96.png" %}">
        <link rel="icon" type="image/png" sizes="160x160" href="{% static "assets/images/favicon-160x160.png" %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static "assets/images/favicon-192x192.png" %}">

        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="{% static "assets/images/mstile-144x144.png" %}">
        <meta name="msapplication-config" content="{% static "assets/images/browserconfig.xml" %}">
        <meta name="application-name" content="{{ PROJECT_NAME }}">
    {% endblock metas%}

    <title>{% block title %}{% endblock %} | {{ PROJECT_NAME }}</title>

    {% block styles %}
        <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/styles.css" %}">
    {% endblock styles %}

    {% block head-extra %}
        <script type="text/javascript" src="{% static "assets/js/jquery.min.js" %}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock head-extra %}
</head>

<body>
    {% block nav %}{% include '_navbar.html' %}{% endblock %}

    {% block jumbotron %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <div id="footer">
            <div class="container">
                <img class="logo" src="{% static "assets/images/favicon-96x96.png" %}">
                <div class="footer-text">
                    {% now "Y" as current_year %}
                    {{ FULL_PROJECT_NAME }} {{ PROJECT_VERSION }} <span class="fa fa-copyright"></span> {{ current_year }}
                </div>
                <a class="label label-info link" href="{% url 'contacts' %}">
                    <span class="fa fa-envelope"></span> Написать разработчику</a>
            </div>
        </div>
    {% endblock footer %}

    {% block scripts %}
        <script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/main.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/jquery.plugin.min.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/jquery.countdown.min.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/coordination.js" %}"></script>
    {% endblock scripts%}

    <script type="text/javascript">
        $(function () {
            {% now "U" as t %}
            var time = new Date({{ t }});
            start_countup(time);

            {% if quest and quest.nonlinear or quest.multilinear %}
                start_game_over_countdown({{ quest.rest_quest }});
            {% endif %}
        });
    </script>
</body>
</html>