{% extends 'base.html' %}
{% load main_extras %}

{% block title %}Главная{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>Привет, квестер!</h1>
            <p>Создай квест. Играй в квест. Координация в помощь.</p>
            {% if user|in_group:'organizers' %}
                <p><a class="btn btn-success btn-lg" href="{% url 'coordination:quest_new_type' %}">
                    <span class="fa fa-plus fa-lg"></span> Создать квест</a></p>
            {% elif quest %}
                <p><a class="btn btn-success btn-lg {% if not quest.is_published %}disabled{% endif %}"
                      href="{% url 'coordination:quest_coordination' quest.id %}">
                    <span class="fa fa-user fa-lg"></span> Играть</a></p>
            {% elif user.is_superuser %}
                <p><a class="btn btn-success btn-lg" href="{% url 'admin:index' %}">
                    <span class="fa fa-hand-spock-o fa-lg"></span> Перейти в админку</a></p>
            {% else %}
                <p><a class="btn btn-success btn-lg" href="{% url 'contacts_org' %}">
                    <span class="fa fa-user-secret fa-lg"></span> Стать организатором</a></p>
            {% endif %}
            </div>
    </div>
{% endblock jumbotron %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2><span class="fa fa-calendar-check-o"></span> Ближайшие игры</h2>
            {% if coming_quests %}
                {% include 'coordination/quests/_list.html' with quests=coming_quests %}
                <p><a class="btn btn-default" href="{% url 'coordination:quests' %}">
                    Больше игр <span class="fa fa-angle-double-right"></span></a></p>
            {% else %}
                <p class="lead">Пока нет ни одной игры.</p>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2><span class="fa fa-newspaper-o"></span> Новости проекта</h2>
            {% if last_news %}
                {% include 'news/_list.html' with news_list=last_news %}
                <p><a class="btn btn-default" href="{% url 'news' %}">
                    Другие новости <span class="fa fa-angle-double-right"></span></a></p>
            {% else %}
                <p class="lead">Пока нет ни одной новости.</p>
            {% endif %}
       </div>
    </div>
{% endblock content %}