{% extends 'base.html' %}
{% load main_extras %}

{% block title %}Главная{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>Привет, квестер!</h1>
            <p>Создай квест. Играй в квест. Координация в помощь.</p>
            {% if user|in_group:'organizers' %}
                <p><a class="btn btn-success btn-lg" href="{% url 'coordination:quest_new' %}">
                    <span class="fa fa-plus fa-lg"></span> Создать квест</a></p>
            {% else %}
                <p><a class="btn btn-success btn-lg" href="#"><span class="fa fa-user-secret fa-lg"></span>
                    Стать организатором</a></p>
            {% endif %}
            </div>
    </div>
{% endblock jumbotron %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
          <h2><span class="fa fa-calendar-check-o"></span> Ближайшие игры</h2>
          {% include 'coordination/quests/_list.html' with quests=coming_quests %}
          <p><a class="btn btn-default" href="{% url 'coordination:quests' %}">
              Больше игр <span class="fa fa-angle-double-right"></span></a></p>
        </div>
        <div class="col-lg-6">
          <h2><span class="fa fa-newspaper-o"></span> Новости проекта</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
              ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">Другие новости <span class="fa fa-angle-double-right"></span></a></p>
       </div>
    </div>
{% endblock content %}