{% load staticfiles %}
{% load main_extras %}

<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="inline-block" href="{% url 'home' %}">
                <img class="logo" src="{% static "assets/images/favicon-96x96.png" %}">
                <div class="brand">{{ PROJECT_NAME }}</div>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% menu_item 'Квесты' 'coordination:quests' %}
                {% menu_item 'Контакты' %}
                {% menu_item 'Новости' %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% url 'auth_login' as url_login %}
                {% if user.is_authenticated %}
                    <li class="navbar-text">{{ user|nice_name }}</li>
                    <li><p class="navbar-btn"><a href="{% url 'auth_logout' %}" class="btn btn-danger">Выход</a><p></li>
                {% elif request.path != url_login %}
                    <li><p class="navbar-btn"><a href="{% url 'auth_login' %}" class="btn btn-default">Вход</a><p></li>
                {% endif %}
            </ul>
          </div>
        </div>
    </div>