{% load coordination_extras %}

<div class="row">
    {% for hint in hints %}
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ hint }}
                        <span class="pull-right"><span class="fa fa-clock-o fa-lg"></span> {{ hint.delay }}</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="text-base">{{ hint.text|safe }}</div>
                </div>
                {% if user|is_organizer:quest or user.is_superuser %}
                    <p class="text-center">
                        <a href="{% url 'coordination:hint_edit' hint.id %}" class="btn btn-primary">
                            <span class="fa fa-edit fa-lg"></span> Редактировать</a>

                        <button data-href="{% url 'coordination:hint_delete' hint.id %}" data-toggle="modal"
                                data-target="#confirm" class="btn btn-danger">
                            <span class="fa fa-trash fa-lg"></span> Удалить
                        </button>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>